{% extends "reminder/layout.html" %}

{% block body %}

<div class="intro">
    <h1 class="h1">ADHD Reminder Application</h1>
    <p class="lead">For all poor souls afflicted with the terrible plight of ADHD, this is where you come to suffer slightly less, perhaps...</p>
    <!-- <p>This is now your <a href="https://www.youtube.com/watch?v=3YxaaGgTQYM">anthem</a></p> -->
</div>
<div>
    <!-- temporary list -->
    <label for="tasks">Choose a task:</label>

    <select name="tasks" id="tasks">
        <option value="clean room">Clean room.</option>
        <option value="clean kitchen">Clean kitchen.</option>
        <option value="clean bathroom">Clean bathroom.</option>
        <option value="wash clothes">Wash clothes.</option>
    </select>
</div>

{% endblock %}